<section class="Footer_section">
    <div class="container">
        <div class="row">
            <!-- Company logo and description -->
            <div class="col-lg-3">
                <a class="Footer_log_image"><img src="assets/images/logos/Footerlogo.jpg" alt=""></a>
                <p class="Footer_Desc">Sometimes, it is also recommended to include a map for simple geo-localization as well as what business hours a company operates.</p>
            </div>
            <!-- Company logo and description -->

            <!-- Product Section -->
            <div class="col-lg-3">
                <p class="Footer_Heading">Our Products</p>
                <ul class="Footer_Item">
                    <li class="Footer_List"><a>Mens</a></li>
                    <li class="Footer_List"><a>Womens</a></li>
                    <li class="Footer_List"><a>Kids</a></li>
                    <li class="Footer_List"><a>Weddings</a></li>
                    <li class="Footer_List"><a>Sacree</a></li>
                </ul>
            </div>
            <!-- Product Section -->

            <!-- CMS Section -->
            <div class="col-lg-3">
                <p class="Footer_Heading">Our</p>
                <ul class="Footer_Item">
                    <li class="Footer_List"><a>Aboutus</a></li>
                    <li class="Footer_List"><a>Contact us</a></li>
                    <li class="Footer_List"><a>Terms & Conditions</a></li>
                    <li class="Footer_List"><a>Privacy policy</a></li>
                    <li class="Footer_List"><a>Blogs</a></li>
                </ul>
            </div>
            <!-- CMS Section -->

            <!-- Social LInks -->
            <div class="col-lg-3">
                <p class="Footer_Heading">Lets chat</p>
                <p class="Footer_email">
                    <span class="SocialIcons"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>SMG@gmail.com
                </p>
                <p class="Footer_phonenumber">
                    <span class="SocialIcons"><i class="fa fa-phone" aria-hidden="true"></i></span>+91 9876543210
                </p>
                <ul class="SocialLinks_Item">
                    <li class="SocialLinks_List">
                        <span class="SocialIcons"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <a>Facebook</a>
                    </li>
                    <li class="SocialLinks_List">
                        <span class="SocialIcons"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <a>Instagram</a>
                    </li>
                    <li class="SocialLinks_List">
                        <span class="SocialIcons"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <a>twitter</a>
                    </li>
                </ul>
            </div>
            <!-- Social LInks -->
        </div>
    </div>
</section>